<div class="subscribeForm">
	<div class="subscribeForm-inner">
		<form action="//maintainablecss.us9.list-manage.com/subscribe/post?u=b8fb04f39bf86109693e00ba5&amp;id=cf3191eba5" method="post">

			<input type="hidden" name="b_b8fb04f39bf86109693e00ba5_cf3191eba5" value="">

			<h2 class="subscribeForm-heading">想要學更多嗎？</h2>
			<p><label for="mce-EMAIL">輸入您的電子郵件，在更新的時候通知您。</label></p>

			<input placeholder="您的電子郵件⋯" type="email" name="EMAIL" id="mce-EMAIL" class="subscribeForm-email" required>
			<input class="subscribeForm-button" type="submit" value="對，我要接收通知！" name="subscribe">

		</form>
	</div>
</div>